__pycache__/
node_modules/
**/node_modules
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
env/
.git/
.gitignore
.vscode/
.idea/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.env
.env.*
storage/
build/
dist/
